<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Invitación a San Solterín </title>
</head>
<body>
    <div class="container">
        
        <div id="gifContainer">
            <img id="gifContainerImg" src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3ZnZmeHM4aHdkaTA3azJrbXdiNHhodzMxcTlxc2Vsa2dkazdpa29rNSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Zl7u48zLVFgLpRwq6f/giphy.gif" alt="c:" ">
        </div>
        <div id="happyGifContainer" style="display: none;">
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcGg2cjRyZXBsMm5nOHN3OWR1ZXhxbnlmcm1jMzN1M2d0MjFjdDV0cSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/T70hpBP1L0N7U0jtkq/giphy.gif" alt=":D" style="width: 100%; height: 100%;">
        </div>
        <div id="happyGifContainer2" style="display: none;">
            <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3bHRiNDh1MjJtamU1MTl3ZHB2OGw0OGJnZ3dwNmpvZWs5ZW94cnhtZiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Ac0fCix8D3oN7DwCEB/giphy.gif" alt=":D" style="width: 100%; height: 100%;">
        </div>
        <div id="happyGifContainer3" style="display: none;">
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExM3VvaW52c3R2ZmQxanJ0cWl3bThidDlzMGpneTExbTJzeHQ3YXUxMyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/VBEd4PzBjdG3S/giphy.gif" alt=":D" style="width: 100%; height: 100%;">
        </div>
        <div id="happyGifContainer4" style="display: none;">
            <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3enBlcHJqMGUxeWlydWN5d3h0cDV0d3Zwd2RhZTEyZHdqdDVyMWt3bSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/DnHKX15xaJFIyHSJ7n/giphy.gif"  alt=":D" style="width: 100%; height: 100%;">
        </div>
        <div id="sadGifContainer" style="display: none;">
            <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExODZrNGQ3dWI3YXNpaGg4dDR6ZTV3eWdvMnMwc3FwZjNmMnNsYTJsMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/LLsUNd14gwSkSLYTcR/giphy.gif" alt=":c" style="width: 80%; height: 80%;">
        </div>
        <div id="sadGifContainer1" style="display: none;">
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExY214Y21lcHdjenE3bHpiZDYycm0zd2p4NjM5ajIxYzY4bXFlOXFkMSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/3OhXBaoR1tVPW/giphy.gif" alt=":c" style="width: 80%; height: 80%;">
        </div>
        <div id="sadGifContainer2" style="display: none;">
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExY214Y21lcHdjenE3bHpiZDYycm0zd2p4NjM5ajIxYzY4bXFlOXFkMSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/3IteD8c2FuyH6asxlf/giphy.gif" alt=":c" style="width: 80%; height: 80%;">
        </div>
        <div class="box">
            <h1 id="question">¿Vamos a la fiesta San Solterín ?</h1>
            <div id="messageContainer" style="display: none;"></div>

            <button id="siBtn">Sí&#128149;</button>
            <button id="noBtn">No&#128148;</button>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>